DISCORD_TOKEN=seu_token
CLIENT_ID=1544849169821343845
GUILD_ID=1529637599336075405
SIMULADO_ADMIN_ROLE_ID=1533958258950275257
# No Railway, aponte DATA_DIR para o caminho do Volume persistente.
# Localmente, deixe vazio para usar a pasta data/ do projeto.
DATA_DIR=
